<!DOCTYPE html>
<html>
<head>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <section class="content-header">
      <h1>
        403 Error Page
      </h1>
    </section>

    <section class="content">

      <div class="error-page">
        <h2 class="headline text-red" style="margin-top: 0px;">403</h2>
        <div class="error-content">
          <h3><i class="fa fa-warning text-red"></i> Oops! You Are Not Authorized for This Page</h3>
          <p>
            Please Contact Your Administrator. Meanwhile, you may <a href="home">return to dashboard</a> or try to access other menu.
          </p>
        </div>
      </div>
    </section>
</body>
</html>
