<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <script type="text/javascript">
    function onClickApprove(url) {
      // alert('approve ' + row_id);
      $.ajax({
        type: "post",
        url: url,
        success: function(responseData, textStatus, jqXHR) {
            alert(responseData.message);
            navigateToUrl(responseData.url);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          if (jqXHR.status == "403") {
            navigateToUrl('general/unauthorized');
          } else {
            alert(jqXHR.responseText);
            navigateToUrl('general/error');
          }
        }
      });
    }

    function onClickReject(row_id) {
      // alert('reject ' + row_id);
      $("#reject_row_id").val(row_id);
      $("#modal-default").modal('toggle');
    }

    function rejectProcess() {
      // alert($("#reject_row_id").val());
      var data = {"message" : $("#reject_message").val()};
      $.ajax({
        type: "post",        
        url: $("#reject_url").val() + $("#reject_row_id").val(),
        data: JSON.stringify(data),
        contentType: "application/json",
        success: function(responseData, textStatus, jqXHR) {
            alert(responseData.message);
            navigateToUrl(responseData.url);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          if (jqXHR.status == "403") {
            navigateToUrl('general/unauthorized');
          } else {
            alert(jqXHR.trace);
            navigateToUrl('general/error');
          }
        }
      });

      $("#modal-default").modal('toggle');
    }

    function onClickDetail(url) {
      // alert('detail ' + url);
      $.ajax({
        type: "post",        
        url: url,
        success: function(responseData, textStatus, jqXHR) {
            // alert(responseData);
            $(".modal-dialog").css("width","600px");
            $("#modal-approval-detail").html(responseData);
            $('#table_detail').DataTable({});
            $("#modal-detail").modal('toggle');
        },
        error: function(jqXHR, textStatus, errorThrown) {
          if (jqXHR.status == "403") {
            navigateToUrl('general/unauthorized');
          } else {
            alert(jqXHR.responseText);
            navigateToUrl('general/error');
          }
        }
      });      
    }

    function onClickDownloadDetail(url) {
      // alert('download detail ' + url);

      data = {};
      // Use XMLHttpRequest instead of Jquery $ajax
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          var a;
          if (xhttp.readyState === 4) {
            switch(xhttp.status) {
              case 200:{
                // Trick for making downloadable link
                a = document.createElement('a');
                a.href = window.URL.createObjectURL(xhttp.response);
                // Give filename you wish to download
                a.download = xhttp.getResponseHeader("filename");
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();                
                break;
              }
              case 403:{
                navigateToUrl('general/unauthorized');
                break;
              }
              case 500:{
                navigateToUrl('general/error');
                break;
              }
            }
          }

          if (xhttp.readyState === 2) { 
            switch(xhttp.status) {
              case 500:{
                request.responseType = "text";
                break;
              }
            }
          }
      };
      xhttp.open("POST", url);
      xhttp.responseType = 'blob';
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send();
    }

    function onClickHistDetail(url) {
      // alert('detail ' + url);
      $.ajax({
        type: "post",        
        url: url,
        success: function(responseData, textStatus, jqXHR) {
            // alert(responseData);
            $(".modal-dialog").css("width","1000px");
            $("#modal-approval-detail").html(responseData);
            $('#table_detail').DataTable({});
            $("#modal-detail").modal('toggle');
        },
        error: function(jqXHR, textStatus, errorThrown) {
          if (jqXHR.status == "403") {
            navigateToUrl('general/unauthorized');
          } else {
            alert(jqXHR.responseText);
            navigateToUrl('general/error');
          }
        }
      });      
    }
  </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <section class="content-header">
      <h1>
          [[${menu.menu_title}]]
          <small>[[${menu.menu_subtitle}]]</small>
      </h1>
      <ol class="breadcrumb">
          <li><i class="fa fa-dashboard"></i></li>
          <li th:each="breadcrumb : ${menu.menu_breadcrumb_list}" class="active">[[${breadcrumb}]]</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
            </div>
            <button type="button" class="btn btn-primary" style="margin-left: 1em" th:attr="onclick='navigateToUrl(\''+${refresh_url}+'\')'">Refresh</button>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th th:text="${approve_url != null or reject_url != null ? 'ACTION' : ''}"></th>
                  <th>DETAIL</th>
                  <th>APPROVAL TYPE</th>
                  <th>APPROVAL STATUS</th>
                  <th>TEMPLATE CODE</th>
                  <th>CREATED BY</th>
                  <th>CREATED DATE</th>
                </tr>
                </thead>
                <tbody>
                  <tr th:each="approval : ${approval_task_list}">
                    <td>
                        <button th:if="${approve_url != null}" type="button" class="btn btn-success" th:attr="onclick='onClickApprove(\'' + ${approve_url} + ${approval.row_id}+'\')'">Approve</button>
                        <button th:if="${reject_url != null}" type="button" class="btn btn-danger" th:attr="onclick='onClickReject(\''+${approval.row_id}+'\')'">Reject</button>
                    </td>
                    <td>                      
                        <button th:if="${approval.approval_type != 'IMPORT'}" type="button" class="btn btn-primary" th:attr="onclick='onClickDetail(\'' + ${detail_url} + ${approval.row_id}+'\')'">Detail</button>
                        <button th:if="${approval.approval_type == 'IMPORT'}" type="button" class="btn btn-primary" th:attr="onclick='onClickDownloadDetail(\'' + ${download_detail_url} + ${approval.row_id}+'\')'">Download Detail</button>
                        <button th:if="${detail_history_url != null and approval.approval_status != 'PENDING'}" type="button" class="btn btn-primary" th:attr="onclick='onClickHistDetail(\'' + ${detail_history_url} + ${approval.row_id}+'\')'">History Detail</button>
                    </td>
                    <td>[[${approval.approval_type}]]</td>
                    <td>[[${approval.approval_status}]]</td>
                    <td>[[${approval.template_code}]]</td>
                    <td>[[${approval.approval_created_by}]]</td>
                    <td>[[${approval.approval_created_date}]]</td>
                  </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th th:text="${approve_url != null or reject_url != null ? 'ACTION' : ''}"></th>
                    <th>DETAIL</th>
                    <th>APPROVAL TYPE</th>
                    <th>APPROVAL STATUS</th>
                    <th>TEMPLATE CODE</th>
                    <th>CREATED BY</th>
                    <th>CREATED DATE</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>    
</div>
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Rejection Form</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" th:placeholder="Message" id="reject_message" />
        <input type="hidden" id="reject_row_id" />
        <input type="hidden" id="reject_url" th:value="${reject_url}" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" id="close_button" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="rejectProcess()">Reject</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-detail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Approval Detail</h4>
      </div>
      <div class="modal-body" id="modal-approval-detail">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" id="close_button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#example1').DataTable({
      "order": []
    })
  })
</script>
</body>
</html>
