<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

  <link rel="stylesheet" href="bower_components/select2/dist/css/select2.min.css">

  <script type="text/javascript">
    $("form").submit(function( event ) {
      event.preventDefault();

      /* get the action attribute from the <form action=""> element */
      var $form = $( this ), url = $form.attr( 'action' );

      var data = {};

      $('#myform input, #myform select').each(function(index){
          var input = $(this);
          data[input.attr('name')] = input.val();
        }
      );

      if ($(document.activeElement).val() == "cancel") {
        navigateToUrl($('#url_cancel').text());
      } else {
          $.ajax({
            type: "post",
            url: url,
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(responseData, textStatus, jqXHR) {
                alert(responseData.message);
                navigateToUrl(responseData.url);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
          });
      }
    });
  </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Profile
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="box box-primary">            
              <!-- <form action="template/create/process/TEMPLATE_CODE" method="POST" class="form-horizontal" id="myform"> -->
              <form th:action="${url}" method="POST" class="form-horizontal" id="myform">              
                <div class="box-body">
                  <div class="form-group" th:each="column : ${payload.template_detail}" th:switch="${column.data_type}">
                      <label class="col-sm-2 control-label" th:text="${column.web_column}" style="width: 10%;"></label>
                      <div class="col-sm-10">
                        <input th:case="STRING" type="text" class="form-control" th:placeholder="${column.web_column}" th:name="${column.database_column}" th:value="${column.containsKey('edit_data')} ? ${column.edit_data} : ''" />
                        <input th:case="INTEGER" type="number" class="form-control" th:placeholder="${column.web_column}" th:name="${column.database_column}" th:value="${column.containsKey('edit_data')} ? ${column.edit_data} : ''" />
                        <!-- <input th:case="DATE" type="text" class="form-control datepicker" th:placeholder="${column.web_column}"> -->
                        <div th:case="DATE" class="input-group date" th:name="${column.database_column}">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right datepicker" th:name="${column.database_column}" th:value="${column.containsKey('edit_data')} ? ${column.edit_data} : ''" />
                        </div>
                        <!-- <select th:case="LOOKUP" class="form-control select2" th:name="${column.database_column}">
                          <option>- Category -</option>
                          <option>Alabama</option>
                          <option>Alaska</option>
                          <option>California</option>
                          <option>Delaware</option>
                          <option>Tennessee</option>
                          <option>Texas</option>
                          <option>Washington</option>
                        </select> -->
                        <select th:case="LOOKUP" class="form-control select2" th:name="${column.database_column}">
                          <option>- Category -</option>
                          <option th:if="${column.lookup_data != null}" th:each="row : ${column.lookup_data}" th:value="${row.key}" th:text="${row.value}" th:selected="${column.containsKey('edit_data') and row.key == column.edit_data} ? 'selected' : null"></option>
                        </select>
                      </div>                      
                  </div>
                <div class="box-footer">
                  <button name="submit" value="cancel"  type="submit" class="btn btn-info">Cancel</button>
                  <button name="submit" value="submit" type="submit" class="btn btn-info">Submit</button>
                </div>
              </form>
              <div id="url_cancel" th:text="${url_cancel != null } ? ${url_cancel} : ''" style="display: none;"></div>
          </div>
      </div>
    </section>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="bower_components/select2/dist/js/select2.full.min.js"></script>
  <script>
    $('.datepicker').datepicker({
      autoclose: true
    });
    $('.select2').select2();
  </script>
</body>
</html>
